[submodule "topokanji"]
	path = topokanji
	url = https://github.com/scriptin/topokanji
[submodule "kanjivg"]
	path = kanjivg
	url = https://github.com/KanjiVG/kanjivg
[submodule "thirdparty/topokanji"]
	path = thirdparty/topokanji
	url = https://github.com/scriptin/topokanji
[submodule "thirdparty/kanjivg"]
	path = thirdparty/kanjivg
	url = https://github.com/KanjiVG/kanjivg
